.clearfix:after {
  clear: both;
}

body, html {
  font-family: 'Avenir', 'Helvetica Neue', helvetica, sans-serif;
  color: #333;
  height: 100%;
  width: 100%;;
  overflow: hidden;
}

p {
  margin-bottom: 1.3rem;
}

.cbp-qtrotator {
  position: relative;
}

.cbp-qtrotator .cbp-qtcontent {
  position: absolute;
  opacity: 0;
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
  position: relative;
  z-index: 100;
  opacity: 1;
}

.table {
  height: 100%;
  table-layout: fixed;
}

blockquote p {
  text-align: center;
  font-style: normal;
}

blockquote code {
  background-color: #f3f3f3;
  padding: 0.5rem;
}

.key {
  padding-bottom: 0;
}

.key:hover {
  color: #333333;
  cursor: pointer;
}

.key:hover + div {
  background: #F3F3F3;
  color: #333333;
  cursor: pointer;
  display: block;
  height: 292px;
  opacity: 1.0;
}

.key-content {
  opacity: 0;
  color: #ffffff;
  height: 15px;
  margin-top: 48px;
  margin-right: 15px;
  background: (#F3F3F3, 0);
  padding: 0 25px 0 25px;
  border-radius: 6px;
  transition: height 0.3s, background 0.3s, color 1.0s, opacity 0.3s;
}

.key-content:before {
  content: "▲";
  color: #F3F3F3;
  position: relative;
  top: -12px;
  left: 15px;
}

